<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    @RenderSection("SEO", false)
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/apple-icon-180x180.png">
    <link href="#" rel="icon">

    <title>Title page</title>

    <link href="~/Css/main.css" rel="stylesheet">
</head>
<header>
    <nav class="navbar  navbar-fixed-top navbar-inverse">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li><a asp-controller="Home" asp-action="Index">01 : Home</a></li>
                    <li><a asp-controller="Home" asp-action="Works">02 : Works</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">03 : Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@RenderBody()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* Validation Scripts *@

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@* End Validation Scripts*@
<script type="text/javascript" src="~/Js/main.js"></script>
@*<scrip type ="text/javascript" src="@Url.Action("Index","Download")"></scrip>*@
@RenderSection("Scripts", false)

