@{
    ViewData["Title"] = "Home Page";
}
@section SEO
{
    <meta name="keywords" content="Index , astronaut" />
    <meta name="description" content="Index , astronaut description " />
}

<body class="minimal">
    <div class="hero-full-container background-image-container white-text-container" style="background-image: url('/assets/images/space.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h1>
                                Hello,<br>
                                <span id="typed-strings">
                                    <span>A Sample Astronaut Project</span>
                                    <span>Created With C#</span>
                                    <span>Asp.net Mvc dynamic</span>
                                </span>
                                <span id="typed"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        type();
    });
</script>
