
@{
    ViewData["Title"] = "Works";
}

<div class="section-container">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                <div class="text-center">
                    <h1 class="h2">02 : Works</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum non dolor possimus rerum provident, minima sint, in quisquam amet quos obcaecati culpa velit consequatur totam nobis ullam a aspernatur fugiat!
                        Aut consectetur dolor ab.
                    </p>
                </div>
            </div>

            @await  Component.InvokeAsync("Works")

        </div>
    </div>
</div>
<partial name="_Footer" />
